<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IoT Spark Processor/src/main/java/it/univaq/disim/se/masaccio/processor/IoTDataProcessor.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="it.univaq.disim.se.masaccio.processor.IoTDataProcessor"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IoT Spark Processor"/>
</launchConfiguration>
